# Default ignored files
/../../../Programação/AOP/.idea/shelf/
/../../../Programação/AOP/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Programação/AOP/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Programação/AOP/.idea/dataSources/
/../../../Programação/AOP/.idea/dataSources.local.xml
